<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-property-heading" jhiTranslate="daqApplicationApp.property.home.createOrEditLabel">Create or edit a Property</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.uom" for="field_uom">Uom</label>
                    <input type="text" class="form-control" name="uom" id="field_uom"
                           formControlName="uom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.controlledTag" for="field_controlledTag">Controlled Tag</label>
                    <input type="checkbox" class="form-control" name="controlledTag" id="field_controlledTag"
                           formControlName="controlledTag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.pollInterval" for="field_pollInterval">Poll Interval</label>
                    <input type="number" class="form-control" name="pollInterval" id="field_pollInterval"
                           formControlName="pollInterval"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.tagId" for="field_tagId">Tag Id</label>
                    <select class="form-control" id="field_tagId" name="tagId" formControlName="tagId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tagMasterOption.id === editForm.get('tagId')!.value?.id ? editForm.get('tagId')!.value : tagMasterOption" *ngFor="let tagMasterOption of tagids; trackBy: trackById">{{ tagMasterOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.templateId" for="field_templateId">Template Id</label>
                    <select class="form-control" id="field_templateId" name="templateId" formControlName="templateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="templateOption.id === editForm.get('templateId')!.value?.id ? editForm.get('templateId')!.value : templateOption" *ngFor="let templateOption of templateids; trackBy: trackById">{{ templateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="daqApplicationApp.property.properties" for="field_properties">Properties</label>
                    <select class="form-control" id="field_properties" name="properties" formControlName="properties">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="templateOption.id === editForm.get('properties')!.value?.id ? editForm.get('properties')!.value : templateOption" *ngFor="let templateOption of templates; trackBy: trackById">{{ templateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
