<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="property">
            <h2><span jhiTranslate="daqApplicationApp.property.detail.title">Property</span> {{ property.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="daqApplicationApp.property.uom">Uom</span></dt>
                <dd>
                    <span>{{ property.uom }}</span>
                </dd>
                <dt><span jhiTranslate="daqApplicationApp.property.controlledTag">Controlled Tag</span></dt>
                <dd>
                    <span>{{ property.controlledTag }}</span>
                </dd>
                <dt><span jhiTranslate="daqApplicationApp.property.pollInterval">Poll Interval</span></dt>
                <dd>
                    <span>{{ property.pollInterval }}</span>
                </dd>
                <dt><span jhiTranslate="daqApplicationApp.property.tagId">Tag Id</span></dt>
                <dd>
                    <div *ngIf="property.tagId">
                        <a [routerLink]="['/tag-master', property.tagId?.id, 'view']">{{ property.tagId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="daqApplicationApp.property.templateId">Template Id</span></dt>
                <dd>
                    <div *ngIf="property.templateId">
                        <a [routerLink]="['/template', property.templateId?.id, 'view']">{{ property.templateId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="daqApplicationApp.property.properties">Properties</span></dt>
                <dd>
                    <div *ngIf="property.properties">
                        <a [routerLink]="['/template', property.properties?.id, 'view']">{{ property.properties?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/property', property.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
